---
layout: default
openGraphType: article
---

<article class="post mx-auto prose prose-red dark:prose-dark lg:prose-lg py-4 lg:py-8">
    <header class="border-b border-gray-200 dark:border-trueGray-600">
        <h1 class="text-center">{{title}}</h1>
        <p class="text-center leading-snug prose-sm lg:prose lg:dark:prose-dark text-gray-500 dark:text-trueGray-400">
            Posted <time datetime="{{ date.toISOString() }}" data-tippy-content="{{ date | readableDate }}" data-tippy-placement="bottom" data-tippy-interactive="true">{{ date | relativeDate }}</time>
            {%- if updated %}
            • Updated <time datetime="{{ updated.toISOString() }}" data-tippy-content="{{ updated | readableDate }}" data-tippy-placement="bottom" data-tippy-interactive="true">{{ updated | relativeDate }}</time>
            {%- endif %}
        </p>
    </header>
    {{ content | safe }}
</article>
