---
layout: default
openGraphType: article
---

<article class="p">
    <header>
        <h1>{{ prettyTitle }}</h1>
        <small>
            <div>Posted <time datetime="{{ date.toISOString() }}" pubdate>{{ date | readableDate }}</time></div>
            {%- if updated %}
            <div>Updated <time datetime="{{ updated.toISOString() }}">{{ updated | readableDate }}</time></div>
            {%- endif %}
        </small>
    </header>
    {{ content | safe }}
</article>
