*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --brand: #dc2626;
  --text-primary: #1b1b1b; /* rgb(27 27 27); */
  --text-secondary: #5e5e5e; /* rgb(94,94,94); */

  --bg: #fff;
  --bg-header: #f3f3f3; /* rgb(243,243,243); */
  --border: #e2e2e2; /* rgb(226,226,226); */

  --bg-code: #f9f9f9; /* rgb(249,249,249); */
  --bg-code-inline: #f3f3f3; /* rgb(243,243,243); */
  --bg-code-filename: #e2e2e2; /* rgb(226,226,226); */
  --border-figure: #969696; /* rgb(150,150,150); */
  --code-highlight: #0a72ed;

  --bg-update: #ebfce8;
  --border-update: #00a100;

  --bg-outdated: #fff8d0;
  --border-outdated: #fdda0d;

  --border-note: var(--brand);
}

@media (prefers-contrast: more) and (not (prefers-color-scheme: dark)) {
  :root {
    --border: #5e5e5e; /* rgb(94,94,94); */
    --border-figure: #5e5e5e; /* rgb(94,94,94); */
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-primary: #e2e2e2; /* rgb(226,226,226); */
    --text-secondary: #969696; /* rgb(150,150,150); */

    --bg: #0e0e0e; /* rgb(14,14,14);  */
    --bg-header: #1b1b1b; /* rgb(27,27,27); */
    --border: #353535; /* rgb(53,53,53); */

    --bg-code: #1b1b1b; /* rgb(27,27,27); */
    --bg-code-inline: #1f1f1f; /* rgb(31,31,31); */
    --bg-code-filename: #353535; /* rgb(53,53,53); */
    --border-figure: #5e5e5e; /* rgb(94,94,94); */

    --bg-update: #002b00;
    --border-update: #007a00;

    --bg-outdated: #322b00;
    --border-outdated: #cdb002;
  }
}

@media (prefers-contrast: more) and (prefers-color-scheme: dark) {
  :root {
    --border: #969696; /* rgb(150,150,150); */
    --border-figure: #969696; /* rgb(150,150,150); */
  }
}

:root {
  --sp: 1px;
}
@media (-webkit-min-device-pixel-ratio: 2) and (not (prefers-contrast: more)) {
  :root {
    --sp: 0.5px;
  }
}

body {
  /* https://stackoverflow.com/questions/3226001/some-font-sizes-rendered-larger-on-safari-iphone */
  -webkit-text-size-adjust: 100%;
  margin: 0;
  margin-top: env(safe-area-inset-top, 0);
  margin-bottom: env(safe-area-inset-bottom, 0);
  line-height: 1.66;
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen-Sans,
    Ubuntu,
    Cantarell,
    "Fire Sans",
    "Droid Sans",
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
  text-rendering: optimizeLegibility;
  color: var(--text-primary);
  background-color: var(--bg-header);
}

/* Allow footer to be placed at the bottom */
html {
  height: 100%;
}
body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
main {
  flex-grow: 1;
}

/* Allow backgrounds and border of sections to extend to the edge of the screen, while content is centered. */
.gh,
main,
.gf {
  overflow: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
.gh > *,
main > *,
.gf > * {
  margin: 0 auto;
}
main > *,
.gf > * {
  max-width: 75ch;
}
header + hr,
main + hr {
  margin: 0;
}
.gh > *:first-child {
  margin-top: max(1rem, env(safe-area-inset-top));
}
.gf > *:last-child {
  display: block;
  margin-bottom: max(1.25rem, env(safe-area-inset-bottom));
}
.gh,
main,
.gf {
  padding-left: max(1rem, env(safe-area-inset-left));
  padding-right: max(1rem, env(safe-area-inset-right));
}

/* Core elements */
pre,
code,
kbd,
samp {
  font-family: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  font-size: smaller;
}
p {
  margin: 1.25em 0;
}
ul,
ol {
  padding-inline-start: 1.5em;
}
li:not(:last-child) {
  margin-bottom: 0.5em;
}
li > ul,
li > ol {
  margin-top: 0.5em;
}
.toc li:not(:last-child) {
  margin-bottom: 0em;
}
.toc li > ul,
.toc li > ol {
  margin-top: 0em;
}
hr {
  border: none;
  border-top: var(--sp) solid var(--border);
}
blockquote {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  border-left: 0.25em solid var(--border) ;
  padding-left: 1em;
  margin: 1.25em 0;
}
blockquote p {
  font-style: normal;
}
blockquote p:last-of-type {
  margin-bottom: 0.5em;
}
.p img,
.p object {
  max-width: 100%;
}
figure {
  margin: 1.25em 0;
}
figcaption {
  font-size: smaller;
  text-align: center;
  color: var(--text-secondary);
}
b, strong {
  font-weight: 600;
}

/* Headers */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
h2 + *,
h3 + *,
h4 + *,
h5 + *,
h6 + * {
  margin-top: 0;
}
h1 /* Main page header. See other h1 for article headers. */ {
  font-size: 1.5em;
  line-height: 1;
}
h2,
section > article h1 {
  font-size: 1.5em;
  line-height: 1.3333333em;
  margin-top: 2em;
  margin-bottom: 1em;
}
section > article h1 {
  margin: 0;
  font-weight: unset;
}
h3 {
  font-size: 1.25em;
  line-height: 1.6em;
  font-weight: 600;
  margin-top: 1.6em;
  margin-bottom: 0.6em;
}
h3 b, h3 strong {
  font-weight: 800;
}
h4,
h5,
h6,
.p > aside > h1,
.p .t {
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}
.p > aside > h1 {
  margin: 0;
}
h4,
.p > aside > h1,
.p .t {
  font-weight: 600;
}
h4 b, h4 strong {
  font-weight: 800;
}
h5 {
  font-size: unset;
  font-weight: 500;
}
h5 b, h5 strong {
  font-weight: 700;
}
h6 {
  font-size: unset;
  font-weight: unset;
}

/* Larger text on non-phone devices */
@media (min-width: 640px) {
  body {
    font-size: 1.125em;
  }
  h1 {
    font-size: 1.6666667em;
  }
  section > article h1 {
    font-size: 1.6666667em;
  }
  h2 {
    font-size: 1.6666667em;
    margin-top: 1.8666667em;
    margin-bottom: 1.0666667em;
  }
  h3 {
    font-size: 1.3333333em;
    line-height: 1.5em;
    margin-top: 1.6666667em;
    margin-bottom: 0.6666667em;
  }
  h4,
  h5,
  h6,
  .p .t {
    font-size: 1em;
    line-height: 1.5555556em;
    margin-top: 1.7777778em;
    margin-bottom: 0.4444444em;
  }
}

/* Code */
code {
  background-color: var(--bg-code-inline);
  border: var(--sp) solid var(--border-figure);
}
pre {
  background-color: var(--bg-code);
  border: var(--sp) solid var(--border-figure);
  line-height: 1.5;
  overflow-x: scroll;
  padding: 0.75em 1em;
  margin: 1.25em 0;
}
code {
  padding: 0.25em 0.3333333em;
  word-break: keep-all;
}
/* Undo inline code specifics */
pre > code {
  background-color: unset;
  border: unset;
  padding: unset;
  font-size: unset;
}

.token.comment {
  font-style: italic;
  color: var(--text-secondary);
}
.token.bold,
.token.boolean,
.token.command,
.token.important,
.token.keyword,
.token.number {
  font-weight: 600;
}
.token.boolean,
.token.string,
.token.number {
  color: var(--code-highlight);
}
.token.shell-symbol.important {
  color: var(--text-secondary);
}

.f {
  margin: 1.25em 0;
}
.f > figurecaption {
  background-color: var(--bg-code-filename);
  border: var(--sp) solid var(--border-figure);
  border-bottom-width: 0;

  line-height: 1.5;
  margin: 0;
  padding: 0.25em 1em;
  text-align: center;
}
.f > figurecaption code {
  background-color: unset;
  border: unset;
  font-weight: 600;
  padding: unset;
}
.f > pre {
  margin: 0;
  margin-top: var(--sp);
}

/* Links */
a {
  text-decoration: none;
  color: var(--text-primary);
}
article a, section a {
  color: var(--brand);
}
article header a {
  color: var(--text-primary);
}
a:hover,
a:focus {
  text-decoration: underline;
  color: var(--brand);
}
.header-anchor {
  text-decoration: none !important;
  margin-left: -1.5ch;
  padding-left: 1.5ch;
  color: inherit;
}
.header-anchor:hover,
.header-anchor:focus {
  color: inherit;
}
.header-anchor:hover::before,
.header-anchor:focus::before {
  content: "#";
  color: var(--brand);
  position: relative;
  float: left;
  left: -1.5ch;
  width: 0;
  height: 0;
}

@media (prefers-contrast: more) {
  a,
  .header-anchor:hover::before,
  .header-anchor:focus::before {
    text-decoration: underline;
  }
}

/* Global header */
.gh nav {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 1rem 0 0.75rem -1rem;
}
.gh nav > * {
  margin: 0;
  margin-left: 1rem;
}
.gh nav ul {
  list-style: none;
  padding: 0;
}
.gh h1 > a::before {
  content: "";
  display: inline-block;
  width: 1.25em;
  height: 1.25em;
  margin-bottom: -0.25em;
  margin-right: 0.5rem;
  background-image: url("https://gravatar.com/avatar/057e065f57ad1094ec9830932fbca63e?s=75");
  background-size: 1.25em;
  border-radius: 50%;
}

/* Main content */
main {
  background-color: var(--bg);
}

/* Global footer */
.gf {
  text-align: center;
}
.gf > *:first-child {
  margin-top: 1.25rem;
}
.gf > *:last-child {
  margin-bottom: 1.25rem;
}

/* Copyright and timestamps */
small {
  line-height: 1.5;
  color: var(--text-secondary);
}
small p:not(:first-child) {
  margin-top: 0;
}
small p:not(:last-child) {
  margin-bottom: 0;
}

/* Posts list. pla = "post list article" */
.pla {
  /* margin: 3.3333333em 0; */
  padding: 1.5rem 0;
}
.pla:not(:first-child) {
  border-top: var(--border) var(--sp) solid;
}
.pla p {
  margin: 0.25rem 0 0.5rem 0;
}

/* Post */
.p {
  margin-top: 1rem;
  margin-bottom: 3rem;
}
.p header {
  margin: 1.25rem 0;
  text-align: center;
  border-bottom: var(--border) 1px solid;
}
.footnotes-sep {
  border-top-width: 1px;
}
.p header small {
  display: block;
  margin: 1.25rem 0;
}
.p h1 {
  font-size: 2.25em;
  line-height: 1;
  font-weight: 800;
  margin: 1.25rem;
}
@media (min-width: 640px) {
  .p h1 {
    font-size: 2.6666667em;
  }
}

/* Updates */
.p > aside {
  margin: 1.25em -0.875em;
  padding: 0.75em 0.625em;
}
.p > aside.u {
  background-color: var(--bg-update);
  border-left: 0.25em solid var(--border-update);
}
.p > aside.o {
  background-color: var(--bg-outdated);
  border-left: 0.25em solid var(--border-outdated);
}
.p > aside > *:first-child {
  margin-top: 0;
}
.p > aside > *:last-child {
  margin-bottom: 0;
}
.p > aside + hr {
  border: 0;
}

/* Full-width images */
.p .fwi {
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
  text-align: center;
}
.p .ib {
  outline: var(--sp) solid var(--border-figure);
}

/* Admonitions */
.p .t {
  display: block;
  margin: 1em 0;
}
.p .t:before { content: "📝 "; }
.p > .n {
  border-left: 0.25em solid var(--border-note);
  margin: 1.25em 0;
  padding-left: 1em;
}

/* Version pill */
.v {
  background: #0c713a;
  border-radius: 2em;
  color: #fff;
  margin-right: 0.166em;
  width: 3.66em;
  display: inline-block;
  font-size: smaller;
  text-align: center;
}

/* Hide */
.h {
  display: none;
}

/* Prevent widows on desktop */
.widont {
  white-space: normal;
}
@media (min-width: 640px) {
  .widont {
    white-space: nowrap;
  }
}
