<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">

    <title>{% if title %}{{ prettyTitle }} – {% endif %}{{ site.title }}</title>

    <meta name="description" content="{{ (summary or site.description) | toHTML | striptags | safe }}"/>

    {%- set openGraphTitle %}{{ prettyTitle if title else site.title }}{% endset %}
    {%- set openGraphDescription %}{{ (summary or site.description) | toHTML | striptags | safe }}{% endset %}
    {%- set openGraphURL %}{{ page.url | url | absoluteURL(site.url) | safe }}{% endset %}
    <link rel="canonical" href="{{ (canonical or openGraphURL) | safe }}"/>

    <!-- Open Graph -->
    <meta property="og:locale" content="en_US"/>
    <meta property="og:type" content="{{ openGraphType or "website" }}"/>
    <meta property="og:title" content="{{ openGraphTitle }}"/>
    <meta property="og:description" content="{{ openGraphDescription }}"/>
    <meta property="og:url" content="{{ openGraphURL | safe }}"/>
    <meta property="og:site_name" content="{{ site.title }}"/>

    <!-- Twitter Card -->
    <meta property="twitter:card" content="summary"/>
    <meta property="twitter:site" content="@brentleyjones"/>
    <meta property="twitter:title" content="{{ openGraphTitle }}"/>
    <meta property="twitter:description" content="{{ openGraphDescription }}"/>
    <meta property="twitter:url" content="{{ openGraphURL | safe }}"/>

    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    <link rel="alternate" type="application/atom+xml" title="{{ site.title }} - Atom Feed" href="{{ "atom.xml" | url | absoluteURL(site.url) }}"/>
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }} - RSS Feed" href="{{ "rss.xml" | url | absoluteURL(site.url) }}"/>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=20211210"/>
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=20211210"/>
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=20211210"/>
    <link rel="manifest" href="/site.webmanifest?v=20211210"/>
    <meta name="msapplication-TileColor" content="#b91d47"/>
    <meta name="theme-color" content="#f3f3f3" media="(prefers-color-scheme: light)">
    <meta name="theme-color" content="#1b1b1b" media="(prefers-color-scheme: dark)">
  </head>
  <body>
    <header class="gh">
      <nav>
        <h1>
          <a href="/">{{ site.title }}</a>
        </h1>
      </nav>
    </header>

    <hr/>

    <main>
    {{ content | safe }}
    </main>

    <hr/>

    <footer class="gf">
      <small>
        <div>
            Made with <a href="https://www.11ty.dev">Eleventy</a>
            •
            <a href="/atom.xml">Atom</a>
            •
            <a href="/rss.xml">RSS</a>
            •
            <a href="{{ site.gitHubURL | safe }}/blob/main/{{ page.inputPath | safe }}">Edit this page</a>
        </div>
        <div>© {{ site.copyrightYear }} <a href="https://brentleyjones.com">{{ site.author }}</a></div>
      </small>
    </footer>
  </body>
</html>
