@tailwind base;
@tailwind components;
@tailwind utilities;

.post h1 {
    @apply mb-0 !important;
}

.home h1 a {
    @apply text-red-600;
    @apply font-normal;
    font-size: 1.5em;
    line-height: 1.3333333;
}

@screen lg {
    .home h1 a {
        font-size: 1.6666667em;
        line-height: 1.3333333;
    }
}

.home header p {
    @apply mt-0;
}

a {
    font-weight: unset;
    @apply no-underline hover:underline hover:text-red-600 !important;
}

.nav__item {
    @apply sm:inline-block text-gray-600 dark:text-trueGray-300 my-2 mr-4;
}

.nav__item a {
    @apply font-medium;
}

nav.pagination li {
    @apply px-1 inline;
}

nav.pagination a {
    @apply text-red-600;
}

nav.pagination .disabled {
    @apply text-gray-500 dark:text-trueGray-400;
}

.footer a {
    @apply font-medium;
}

.prose :not(pre) > code.language-text {
    white-space: pre-line;
}
