@tailwind base;
@tailwind components;
@tailwind utilities;

main {
    @apply max-w-prose mx-auto;
}

main > article h1 {
    @apply mb-0 !important;
}

main > section h1 a {
    @apply text-red-600 dark:text-red-500;
    @apply font-normal;
    font-size: 1.5em;
    line-height: 1.3333333;
}

@screen lg {
    main > section h1 a {
        font-size: 1.6666667em;
        line-height: 1.3333333;
    }
}

a {
    font-weight: unset;
    @apply no-underline hover:underline hover:text-red-600 dark:hover:text-red-500 !important;
}

body > footer a {
    @apply font-medium;
}

.prose :not(pre) > code.language-text {
    white-space: pre-line;
}
