---
layout: default
openGraphType: blog
---
<section>
    {% for post in collections.posts | reverse %}
        <article class="pla">
            <h1>
                <a href="{{ post.url | url }}">{{ post.data.prettyTitle }}</a>
            </h1>
            {%- if post.data.summary %}
            <p>
                {{ post.data.summary | toHTML | striptags | safe }}
            </p>
            {%- endif %}
            <footer>
                <small>
                    <div>Posted <time datetime="{{ post.date.toISOString() }}" pubdate>{{ post.date | readableDate }}</time></div>
                    {%- if post.data.updated %}
                    <div>Updated <time datetime="{{ post.data.updated.toISOString() }}">{{ post.data.updated | readableDate }}</time></div>
                    {%- endif %}
                </small>
            </footer>
        </article>
    {% endfor %}
</section>
