---
layout: default
openGraphType: blog
---
<section>
    {% for post in collections.posts | reverse %}
        <article class="py-6">
            <h1 class="mb-2">
                <a href="{{ post.url | url }}">{{ post.data.title if post.data.title else "Untitled" }}</a>
            </h1>
            {%- if post.data.summary %}
            <p class="prose dark:prose-dark lg:prose-lg">
                {{ post.data.summary | toHTML | striptags | safe }}
            </p>
            {%- endif %}
            <footer class="leading-snug mt-3 text-sm lg:text-md text-gray-500 dark:text-trueGray-400">
                <time datetime="{{ post.date.toISOString() }}">{{ post.date | readableDate }}</time>
                {%- if post.data.updated %}
                • Updated <time datetime="{{ post.data.updated.toISOString() }}">{{ post.data.updated | readableDate }}</time>
                {%- endif %}
            </footer>
        </article>
    {% endfor %}
</section>
