<footer class="text-center mx-auto max-w-prose py-8">
    <small class="text-gray-500 dark:text-trueGray-400">
        <p>
            Made with <a href="https://www.11ty.dev">Eleventy</a>
            •
            <a href="/feed.xml">Feed</a>
            •
            <a href="{{ site.gitHubURL | safe }}/blob/main/{{ page.inputPath | safe }}">Edit this page</a>
        </p>
        <p>© 2015–2020 <a href="https://brentleyjones.com">Brentley Jones</a></p>
    </small>
</footer>
